.orange {text-indent: 25px;background-color: orangered;}
.purple {text-indent: 25px;color: blueviolet;}
.blue {text-indent: 25px;color: blue;}
.red {text-indent: 25px; background-color: red;}
.green {text-indent: 25px;color: rgb(45, 255, 4);}